-
  const services = [
    { title: "Учета и отчетности",
      width: 30,
      height: 30,
      icon: "#accounting"
    },
    { title: "Управления персоналом",
      width: 38,
      height: 38,
      icon: "#management"
    },
    { title: "Казначейства",
      width: 30,
      height: 30,
      icon: "#treasury"
    }
  ]

.services
  h2.services__title
    | Общий центр обслуживания в г. Иваново оказывает услуги энергетическому
    br.services-brake
    |  холдингу Группе компаний в области:
  ul.services-list
    each service in services
      li.service
        +service(service.title, service.width, service.height, service.icon)
