$black: #000000;
$mainBlue: #003264;
$filterColor: #161616;
$dark: #242627;
$gray: #C3C8C8;
$gray2: #646464;
$gray3: #828282;
$gray4: #E0E0E0;
$gray5: #F7F7F7;
$gray6: #4F4F4F;
$gray7: #F9F9F9;
$orange: #E9862A;
$orangeHover: #DC6D08;
$white: #FFFFFF;
$blue: #187CD3;
$stroke: #EBEBEB;
$strokeHover: #BDBDBD;
$stroke2: #F2F2F2;
$stroke3: #EDEDED;

$inputInvalidColor: #BF1E2E;
$inputInvalidCaptionColor: #BE1A1A;
$inputValidColor: #27AE60;

$tabletWidth: 1120px;
$mobileWidth: 768px;

$transitionTime: 0.3s;

$desktopHorizontalPaddings: 40px;
$mobileHorizontalPaddings: 20px;
