{
    "extends": "airbnb-base",
    "env": {
      "browser": true
    },
    "ignorePatterns": ["node_modules/"],
    "rules": {
      "quotes": ["error", "double"],
      "import/no-extraneous-dependencies": "off",
      "no-param-reassign": "off",
      "no-unneeded-ternary": "off",
      "no-unused-expressions": "off",
      "no-confusing-arrow": "off",
      "no-case-declarations": "off",
      "array-callback-return": "off"
    }
  }
