.main-section {
  position: relative;

  color: $white;
}

.main-section__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header {
  border-bottom: 1px solid $stroke2;

  background-color: $white;
}

.header__wrapper {
  @include container;

  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;

  padding-bottom: 28px;
  padding-top: 46px;
}

.navigation {
  display: flex;

  position: relative;

  color: $dark;
}

.navigation__wrapper {
  display: flex;
  align-items: center;

  column-gap: 64px;
}

.navigation__toggle-button {
  display: none;

  position: relative;

  @include emptyButton;

  width: 28px;
  height: 18px;

  &::before, &::after {
    content: "";

    position: absolute;
    right: 0;

    width: 28px;
    height: 2px;

    transition-duration: $transitionTime;
  }
  &::before {
    top: 0;
  }
}

.main-section__content {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 448px;
  margin-top: 138px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.navigation__menu {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  column-gap: 64px;

  list-style-type: none;
  font-size: 16px;
}

.menu-item-link {
  @include clearLink;

  position: relative;

  padding-bottom: 42px;
  padding-top: 50px;
}

.menu-item-link:hover {
  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;


    border-bottom: 2px solid $orange;
    width: 100%;
    margin-bottom: -1px;
  }
}

.dropdown__wrapper {
  position: absolute;

  box-shadow: 0px 17px 46px rgba($color: $black, $alpha: 0.08);
  background-color: $white;

  transition-duration: $transitionTime;
  transform-origin: top;

  opacity: 0;

  transform: scaleY(0);

  animation-name: growUp;
  animation-duration: $transitionTime;
  animation-timing-function: ease-out;
}

.dropdown:hover .dropdown__wrapper {
  padding-top: 16px;

  opacity: 1;

  transform: scaleY(1);

  animation-name: growDown;
  animation-duration: $transitionTime;
}

@keyframes growDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1)
  }
}

@keyframes growUp {
  from {
      transform: scaleY(1);
  }
  to {
      transform: scaleY(0)
  }
}

.dropdown__show-button {
  @include emptyButton;

  padding-right: 11px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;

  color: $blue;
  background-image: url("../../assets/images/arrow.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;

  cursor: pointer;
}

.navigation__socials {
  display: flex;
  flex-wrap: wrap;
  width: 135px;
  height: 100px;
  padding: 20px;

  margin: 0;
}

.socials {
  list-style-type: none;
  box-sizing: content-box;
}

.social {
  border: 1px solid $gray4;
  margin: -1px 0 0 -1px;
  width: 50%;
}

.social-link {
  @include clearLink;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  min-width: 47px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-icon {
  fill: $orange;
}

.social-link:hover .social-icon {
  fill: $mainBlue;
}

.main-section__title {
  margin: 0;

  font-family: "HeliosC", Arial, sans-serif;
  font-weight: 700;

  font-size: 36px;
  max-width: 440px;
}

.main-section__images {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  background: $mainBlue;
}

.team-part-button {
  @include orangeButton;

  align-self: flex-start;

  padding-right: 34px;
  padding-left: 30px;
}

@media (max-width: 1240px) {
  .main-section__title {
    font-size: 30px;
    max-width: 384px;
  }
}

@media (max-width: $tabletWidth) {
  .header__wrapper {
    padding-top: 34px;
    padding-bottom: 37px;
  }

  .main-section__content {
    height: 398px;
    padding-top: 87px;
    margin-top: 100px;
    padding-bottom: 126px;
  }

  .header__title {
    font-size: 30px;
    max-width: 384px;
  }

  .navigation {
    color: inherit;
  }

  .navigation__wrapper {
    display: flex;
    align-self: flex-start;

    margin-top: 24px;
    margin-left: 20px;
  }

  .navigation__toggle-button {
    display: block;

    cursor: pointer;
  }

  .navigation--closed {
    & .navigation__wrapper {
      display: none;
    }
    & .navigation__toggle-button {
      &::before {
        background-color: $mainBlue;
        box-shadow: 0px 8px 0px $mainBlue;
      }
      &::after {
        bottom: 0px;
        background-color: $mainBlue;
      }
    }
  }

  .menu {
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }

  .menu-item-link {
    padding: 0;
  }

  .menu-item-link:hover {
    &::after {
      display: none;
    }

    padding: 0;

    color: $blue;
  }



  .dropdown {
    margin-top: 20px;
  }

  .dropdown:hover .dropdown__wrapper {
    padding-top: 0;

    animation: none;
  }

  .dropdown__wrapper {
    left: 0;
    right: 0;

    padding: 0 $desktopHorizontalPaddings;

    opacity: 1;
    background-color: transparent;

    transform: none;
    animation: none;
  }

  .navigation--opened {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row-reverse;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
    padding: 0 $desktopHorizontalPaddings;
    padding-top: 34px;

    background-color: $mainBlue;

    & .navigation__toggle-button {
      &::before, &::after {
        background-color: $white;
      }
      &::before {
        top: 50%;
        box-shadow: 1000px 0px 0px $mainBlue;
        transform: rotate(45deg);
      }
      &::after {
        content: "";

        position: absolute;
        right: 0;

        width: 28px;
        height: 2px;

        transform: rotate(-45deg);
      }
    }

    & .dropdown__show-button {
      display: none;
    }
  }

  .header__logo {
    padding: 0;
  }

  .header__logo:has(~ .navigation--opened) {
    display: none;
  }

  .socials {
    flex-wrap: nowrap;

    column-gap: 16px;

    width: 100%;
    height: 35px;
    padding: 0;
  }

  .navigation__socials .social {
    border: 1px solid rgba($color: $white, $alpha: 0.08);

    &:hover {
      border-color: $gray4;
    }
  }

  .navigation__socials .social-icon {
    fill: $white;
  }

  .social-link:hover .social-icon {
    fill: $white;
  }
}

@media (max-width: $mobileWidth) {
  .header__wrapper {
    padding: 24px $mobileHorizontalPaddings;
  }

  .navigation--opened {
    padding: 0 $mobileHorizontalPaddings;
    padding-top: 24px;
  }

  .main-section__content {
    margin-top: 76px;
    height: 390px;
    padding: 0 $mobileHorizontalPaddings;
    padding-top: 24px;
    padding-bottom: 38px;
  }

  .main-section__title {
    align-self: center;
    max-width: 280px;

    text-align: center;
    font-size: 22px;
  }

  .main-section__images {
    justify-content: center;
  }

  .team-part-button {
    align-self: center;
    padding-right: 30px;
    padding-left: 30px;

    font-size: 14px;
  }

  .dropdown__wrapper {
    padding: 0 $mobileHorizontalPaddings;
  }
}
