$black: #000000;
$mainBlue: #003264;
$dark: #242627;
$gray: #C3C8C8;
$gray2: #646464;
$orange: #E9862A;
$orangeHover: #DC6D08;
$white: #FFFFFF;
$blue: #187CD3;
$stroke: #EBEBEB;
$stroke2: #F2F2F2;
$stroke3: #E0E0E0;
$stroke4: #EDEDED;

$tabletWidth: 1120px;
$mobileWidth: 768px;
