.modal__window.modal__window--success
  button.modal__close-button
    span
      p.visually-hidden Закрыть окно
  p.window__title Сообщение успешно отправлено
  p.window__caption Наш менеджер свяжется с вами в ближайшее время
