-
  const description = "Общего центра обслуживания. Современные технологии, проекты, рабочие группы"

-
  const features = [
    { title: "Развитие",
      description,
      width: 66,
      height: 82,
      icon: "#progress"
    },
    { title: "Обучение",
      description,
      width: 74,
      height: 74,
      icon: "#education"
    },
    { title: "Ответственность",
      description,
      width: 68,
      height: 68,
      icon: "#responsibility"
    },
    { title: "Динамика",
      description,
      width: 84,
      height: 48,
      icon: "#dynamics"
    },
    { title: "Комфорт",
      description,
      width: 66,
      height: 82,
      icon: "#comfort"
    },
    { title: "Надежность",
      description,
      width: 54,
      height: 69,
      icon: "#reliability"
    }
  ];

section.features
  .feautures__wrapper
    ul.features-list
      each feature in features
        li.feature
          +feature(feature.title, feature.description, feature.width, feature.height, feature.icon)

    ul.slides.features-list
      each feature in features
        li.slide.feature
          +feature(feature.title, feature.description, feature.width, feature.height, feature.icon)
    .features__bullets.slider-bullets
      - const bullets = features.length - 1;
      - for (let i = 0; i < bullets; i++)
        button.features__bullet.slider-bullet
