footer.footer
  p.copyright © «CADesign» 2010–2023, Иваново, ул. Красной армии, д. 7а
  a.privacy-policy(href="#") Политика обработки персональных данных
  .footer__logo
    include ../../assets/images/logo.svg
