-
  const vacancies = [
    { title: "Бухгалтер по расчету заработной платы",
      salary: "68.000 — 180.000 руб.",
      width: 18,
      height: 18,
      icon: "#accounting"
    },
    { title: "Бухгалтер по расчету заработной платы",
      salary: "ЗП по результатам собеседоваия",
      width: 20,
      height: 20,
      icon: "#management"
    },
    { title: "Бухгалтер по расчету заработной платы",
      salary: "68.000 — 80.000 руб.",
      width: 24,
      height: 26,
      icon: "#chart"
    }
  ]

section#vacancies.vacancies
  h2.vacancies__title Вакансии
  .vacancies-switch.switch
    .switch__caption
      p.switch__caption-content.switch__caption-content--choosed Общий центр обслуживания (Иваново)
    label.switch__button
      p.visually-hidden Фильтровать вакансии
      input.switch__input(type="checkbox")
      span.switch__slider
    .switch__caption
      p.switch__caption-content Все вакансии
  .vacancies-select-container
    select.vacancies-select(name="selector")
      option(value="main-center-vacancies") Общий центр обслуживания (Иваново)
      option(value="all-vacancies") Все вакансии

  .vacancies__content
    ul.vacancies-list
      each vacancy in vacancies
        li.vacancies-item.vacancy
          +vacancy(vacancy.title, vacancy.salary, vacancy.width, vacancy.height, vacancy.icon)

  button.vacancies__button
    span Больше вакансий
