-
  const studyingPrograms = [
    { title: "Бухгалтерский учёт",
      width: 26,
      height: 30,
      icon: "#accountant",
      modifier: "accountant"
    },
    { title: "Финансовый менеджмент",
      width: 39,
      height: 25,
      icon: "#financial-manager",
      modifier: "financial-manager"
    },
    { title: "Управление персоналом",
      width: 36,
      height: 29,
      icon: "#manager",
      modifier: "manager"
    },
    { title: "Социальная психология",
      width: 30,
      height: 35,
      icon: "#psychologist",
      modifier: "psychologist"
    }
  ]

#students.students-feedback
  h2.students-feedback__title Студентам и молодым специалистам
  p.students-feedback__caption Учишься или недавно закончил направления
  .students-feedback__content
    ul.students-feedback-list.studying-programs
      each studyingProgram in studyingPrograms
        +studyingProgram(studyingProgram.title, studyingProgram.modifier, studyingProgram.width, studyingProgram.height, studyingProgram.icon)

  .students-feedback__feedback.feedback
    a.feedback__link(href="#").modal-open-button Заполни анкету
    |  и отправь нам!
