include ./mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CADesign
    body
      include ../assets/images/sprite.svg
      include ../components/header/header

      main
        include ../components/features/features
        include ../components/team/team
        include ../components/services/services
        include ../components/video-section/video-section
        include ../components/values/values
        include ../components/vacancies/vacancies
        include ../components/students-feedback/students-feedback
        include ../components/contacts/contacts

      include ../components/footer/footer
